<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      a {
        text-decoration: none;
      }
    </style>
    {% include "partials/base-head.njk" %}
  </head>

  <body>
    {% include "partials/site-header.njk" %}
    <main id="main-content">
      {% block content %}{% endblock %}
    </main>
    {% include "partials/site-footer.njk" %}
  </body>

</html>